/* 
    1. 필요없다고 생각되는 속성들을 초기화
*/

html, body{
    margin: 0;
    padding: 0;
}

/* 
    2. h태그와 p태그는 기본적으로 위아래 margin을 가지고 있다.
    margin 초기화 시켜준다.
*/
h1, p{
    margin: 0;
}

/* 
    5. a태그의 속성을 정의 해준다.
*/
a{
    /* 부모로부터 상속된 값을 적용 받아라 */
    color: inherit;
    /* 링크 표시를 없애준다 */
    text-decoration: none;
}



/* 
    3. 배경을 추가해 준다.
        배경이 반복되는 것을 없애기 위해 no-repeat를 사용
    vw, vh와 %의 차이점
        vw, vh 가로 세로의 지금 가지고 있는 크기의 최대치
        %를 했을 경우에는 마진, ... 다 빼고 100%가 되기 때문에
        정확하게 전체를 다 사용할 경우에는 vw, vh를 사용하면 된다.
*/
#main{
    background: url(background.jpg) no-repeat;
    /* 사이즈를 깨지지 않고 최대치로 맞춰주기 위해 */
    background-size: cover;
    background-position: center center;

    width: 100vw;
    height: 100vh;

    /* 구글 폰트 Questrial */
    font-family: 'Questrial', sans-serif;
}

/* 
    4. 컨텐츠의 텍스트 색상을 흰색으로
*/
#contents{
    color: whitesmoke;
    /* 절대적인 좌표로 지정 */
    position: absolute;
    width: 100%;
    /* 이렇게만 주면 시작 지점이 50%이고,
        요소가 50%지점에 오는 것이 아닌다. */
    top: 50%;
    /* 요소 자체가 중앙에 오기 위해서  */
    transform: translateY(-50%);
    /* 텍스트를 중앙으로 위치 */
    text-align: center;
}

/* 
    6. 구글 폰트 사용
*/
#contents h1{
    font-family: 'Dancing Script', cursive;
    font-size: 75px;

    margin-bottom: 20px;
}

#contents p{
    /* 폰트 사이즈 지정 */
    font-size: 23px;

    /* p태그와 a태그의 간격을 떨어뜨려 주기 위해 */
    margin-bottom: 15px;
}

/* 
    a태그를 버튼 처럼 만들어 본다.
*/
#contents a{
    display: inline-block;
    /* 직사각형의 테두리를 만들어 준다 */
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 17px;
    font-weight: bold;
    /* 마우스 올릴때 0.5초동안의 애니매이션 효과 */
    transition: all 0.7s;
}

/* 
    마우스 커서를 갖다대면 색상 변하도록
*/
#contents a:hover{
    background-color: bisque;
    color: black;
}

/* 
    미디어 쿼리 적용
*/
@media(max-width:770px) {
    #contents h1{
        font-size: 47px;
    }
    #contents p{
        font-size: 20px;
    }
    #contents a{
        font-size: 12px;
    }
}


